<div class="col-md-12">
  <h2 class="titulo"> {{title}} </h2>
 </div>

<form [formGroup]="formularioCotizacionMoneda" class="example-form pagina" (ngSubmit)="submit()">
  
  <div class="form">
    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label placeholder="Seleccionar Moneda">Seleccionar Moneda</mat-label>
        <mat-select formControlName="moneda">
          <mat-option *ngFor="let listaMoneda of listaMonedas" [value]="listaMoneda">
            {{listaMoneda}}
          </mat-option>

        </mat-select>
      </mat-form-field>
      <div *ngIf="formularioCotizacionMoneda.get('moneda')?.errors?.['required'] && !formularioCotizacionMoneda.get('moneda')?.pristine" class="alert alert-danger">Debe seleccionar una
        moneda</div>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Valor Vendedor</mat-label>
        <input matInput type="number" formControlName="valorVendedor">
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
      <div
        *ngIf="this.formularioCotizacionMoneda.get('valorVendedor')?.errors?.['required'] && !formularioCotizacionMoneda.get('valorVendedor')?.pristine"
        class="alert alert-danger">Debe ingresar el valor vendedor de la moneda</div>
      <div
        *ngIf="this.formularioCotizacionMoneda.get('valorVendedor')?.errors?.['max'] && !formularioCotizacionMoneda.get('valorVendedor')?.pristine"
        class="alert alert-danger">El valor no puede exceder a 999</div>
    </div>


    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Valor Comprador</mat-label>
        <input matInput type="number" formControlName="valorComprador">
        <mat-hint  align="end"></mat-hint>
      </mat-form-field>
      <div
        *ngIf="this.formularioCotizacionMoneda.get('valorComprador')?.errors?.['required'] && !formularioCotizacionMoneda.get('valorComprador')?.pristine"
        class="alert alert-danger">Debe ingresar el valor comprador de la moneda)</div>
      <div
        *ngIf="this.formularioCotizacionMoneda.get('valorComprador')?.errors?.['max'] && !formularioCotizacionMoneda.get('valorComprador')?.pristine"
        class="alert alert-danger">El valor no puede exceder a 999</div>
    </div>
     <div>  <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Seleccione Fecha</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="fecha">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div
        *ngIf="formularioCotizacionMoneda.get('fecha')?.errors?.['required'] && !formularioCotizacionMoneda.get('fecha')?.pristine"
        class="alert alert-danger">Debe ingresar una fecha</div>
    </div>
  </div>
  <div>
    <button type="submit" mat-raised-button  color="primary">Finalizar Carga</button>
  </div>
  
</form>